@import '../../static/css/common.styl'

.counpon-items
  position relative
  margin-bottom 30rpx
  width 690rpx
  height 236rpx
  background #FFFFFF
  border-radius 12rpx
  _box-sizing(29rpx, 30rpx)
  .counpon-item-title
    font-size 28rpx
    font-weight 400
    color #1A1A1A
  .counpon-items-index
    _flex-center()
    justify-content flex-start
    >image
      width 122rpx
      height 122rpx
      border-radius 12rpx
    >view
      _flex-center-column()
      _box-sizing(6rpx, 20rpx)
      padding-right 0
      flex-grow 1
      height 100%
      justify-content space-between
      align-items flex-start
      .list-item-title
        font-size 30rpx
        font-weight 400
        color #1A1A1A
      .list-item-tuition
        font-size 24rpx
        font-family PingFangSC-Regular, PingFang SC
        font-weight 400
        color #8B8B8B
      .fee
        font-size 26rpx
        font-weight 400
        color #FF5000
        >text
          font-size 40rpx
          font-weight 500
    .sign-up
      position absolute
      right 19rpx
      top 82rpx
      font-size 28rpx
      color #FFFFFF
      width 144rpx
      height 56rpx
      _flex-center()
      width 160rpx
      height 68rpx
      background #479CFE
      border-radius 34rpx
      padding 0
    .sign-up-gray
      background #FFFFFF
      border 1rpx solid #999999
      color #999999