@import '../../static/css/common.styl'

.navbar-wrapper
  position relative
  z-index 3
.flex-row
  display flex
.navbar
  background-color #fff
  &.fixed
    position fixed
    left 0
    right 0
    z-index 2
    top 0
  .navbar-top
    position absolute
    bottom 0
    left 0rpx
    right 0rpx
    height 88rpx
    line-height 88rpx
    font-size 34rpx
    font-weight bold
    text-align center
  .nav-back
    position absolute
    left 20rpx
    bottom 0
    width 80rpx
    height 88rpx