@import '../../static/css/common.styl'

.integral
	background #F4F4F4
	min-height 95vh
	.integral-top
		position relative
		>image
			width 750rpx
			height 373rpx
			// background-color white
		>view
			position absolute
			width 100%
			height 100%
			left 0
			top 0
			box-sizing border-box
			padding 84rpx 30rpx 21rpx
			// background-color rgba(0, 0, 0, 0.1)
			.integral-top-contet
				width 690rpx
				height 268rpx
				background linear-gradient(90deg, #0198F5 0%, #28C9FF 100%)
				border-radius 12rpx
				position relative
				_flex-start-column()
				box-sizing border-box
				padding 54rpx 27rpx
				.integral-top-contet-top
					_flex-center()
					justify-content flex-start
					>image
						width 62rpx
						height 62rpx
					.integral-coin
						font-size 64rpx
						font-weight 600
						color #FFFFFF
						margin 0 8rpx 0 4rpx
					.integral-symbol
						font-size 28rpx
						font-weight 400
						color #FFFFFF
					.integral-arrow
						font-size 28rpx
				.integral-top-contet-bottom
					width 447rpx
					height 61rpx
					opacity 0.8
					background rgba(255, 255, 255, 0.5)
					_flex-center()
					font-size 28rpx
					font-weight 400
					color #FFFFFF
				.integral-top-contet-btn
					position absolute
					right 32rpx
					top 73rpx
					width 155rpx
					height 60rpx
					background #FFFFFF
					border-radius 30rpx
					font-size 28rpx
					font-weight 400
					color #479CFE
					_flex-center()
	.integral-list
		display flex
		flex-flow wrap
		justify-content space-between
		_box-sizing(0, 30rpx)
		padding-top 10rpx
		.integral-list-item
			margin-bottom 20rpx
			width 335rpx
			height 430rpx
			background #FFFFFF
			border-radius 12rpx
			background-color white
			_flex-center-column()
			box-sizing border-box
			overflow hidden
			padding 0rpx 0rpx 30rpx
			justify-content space-between
			.integral-list-item-img
				width 334rpx
				height 230rpx
				background #FDFCFC
				// background-color: pink
				_flex-center()
				>image
					width 148rpx
					height 148rpx
			.integral-list-item-title
				width 294rpx
				height 72rpx
				font-size 28rpx
				font-weight 400
				line-height 36rpx
				color #252525
				width 100%
				_box-sizing(0, 20rpx)
			.integral-list-item-bottom
				width 100%
				_flex-center()
				_box-sizing(0, 22rpx)
				justify-content space-between
				>view:first-child
					font-size 28rpx
					>text:first-child
						color #F53000
						font-size 36rpx
					>text:last-child
						color #252525
				>view:last-child
					_flex-center()
					width 112rpx
					height 48rpx
					font-size 24rpx
					background #479CFE
					border-radius 24rpx
					color #FFFFFF