@import '../../static/css/common.styl';

.step {
	padding-bottom: 220rpx;
	_flex-start-column();
	align-items: center;

	.step-top {
		width: 750rpx;
		height: 280rpx;
		background: linear-gradient(90deg, #0198F5 0%, #28C9FF 100%);
		_flex-center-column();
		_box-sizing(0, 60rpx);

		>view:first-child {
			margin-bottom: 50rpx;
			font-size: 32rpx;
			font-weight: 500;
			color: #FFFFFF;
		}

		van-progress {
			width: 100%;
		}

		>view:last-child {
			margin-top: 20rpx;
			width: 100%;
			font-size: 24rpx;
			font-weight: 500;
			color: #FFFFFF;
			display: flex;

			>text:last-child {
				margin-left: 30rpx;
			}
		}
	}
}
