@import '../../static/css/common.styl'

.active-page
	background #EBF8FB
.active
	padding-bottom 220rpx
	_flex-start-column()
	align-items center
	position relative
.rules-img
	position absolute
	width 60rpx
	right 0
	top 77rpx
.main-img
	width 750rpx
	height 1060rpx
.position-content
	position absolute
	left 50%
	transform translateX(-50%)
	top 641rpx
	color #FFFFFF
	_flex-center-column()
	>view:first-child
		font-size 32rpx
		font-weight 500
		color #FFFFFF
		text-shadow 0px 2rpx 4rpx #F23727
	>view:last-child
		margin-top 14rpx
		font-size 55rpx
		>text
			font-size 88rpx
.active-title
	margin 46rpx 0 41rpx
	_flex-center()
	text
		width 113rpx
		height 3rpx
		background linear-gradient(270deg, #999999 0%, #ECFBFF 100%)
		border-radius 3rpx
	text:last-child
		transform rotate(180deg)
	view
		font-size 40rpx
		font-weight 700
		color $color-normal-black
		padding 0 35rpx
.active-list-ul
	width 750rpx
	_flex-start-column()
	align-items center
	.active-list-item
		_flex-center()
		justify-content space-between
		margin-bottom 30rpx
		border-radius 8rpx
		box-sizing border-box
		padding 0 0 0 18rpx
		position relative
		width 690rpx
		height 187rpx
		background #FFFEFC
		border 1rpx solid #FDD9D0
		// .list-item-title
		// width 100%
		// font-size 28rpx
		// font-weight 400
		// color #1A1A1A
	.list-item-content
		// width 100%
		// margin-top 21rpx
		_flex-center()
		justify-content flex-start
		>image
			width 122rpx
			height 122rpx
		.list-item-right
			margin-left 20rpx
			// flex-grow 1
			_flex-start-column()
			.list-item-right-top
				font-weight 600
				width 270rpx
				_of1()
				color #1A1A1A
				font-size 30rpx
			.list-item-right-center
				_flex-center()
				justify-content flex-start
				>text:first-child
					font-weight 600
					color #FF5000
					font-size 24rpx
				>text:last-child
					font-weight 600
					color #FF5000
					font-size 42rpx
			.list-item-right-bottom
				color #999999
				font-size 20rpx
.integral-mask
	position fixed
	width 100vw
	height 100vh
	left 0
	top 0
	z-index 99
	background-color rgba(0, 0, 0, 0.5)
	_flex-center-column()
	>view
		width 580rpx
		height 500rpx
		background #FFFFFF
		border-radius 12rpx
		_flex-start-column()
		>view
			font-size 32rpx
			font-weight 500
			color #1A1A1A
			_flex-center()
			margin 41rpx 0 50rpx
			// align-items center;
			width 100%
		>text
			width 100%
			_box-sizing(0, 32rpx)
			font-size 26rpx
			font-weight 400
			color #1A1A1A
			line-height 37rpx
.sign-right
	width 202rpx
	height 123rpx
	border-left 1rpx double #EFE6D5
	_flex-center()
	position relative
	&::before, &::after
		position absolute
		left 0
		top 0
		display block
		content ''
		width 30rpx
		height 30rpx
		border-radius 50%
		background-color #EBF8FB
		transform translate(-50%, -50rpx)
	&::after
		bottom 0
		top unset
		transform translate(-50%, 50rpx)
	.list-item-right-btn
		// position absolute
		_flex-center()
		right 19rpx
		top 59rpx
		color #fff
		width 160rpx
		height 68rpx
		font-size 28rpx
		background linear-gradient(261deg, #FE8700 0%, #FF6441 100%)
		box-shadow 0px 4rpx 14rpx 0px rgba(255, 206, 201, 1)
		border-radius 34rpx
	.list-item-right-btn-else
		border-radius 34px
		border 2rpx solid #FF5000
		background #fff
		color #FF5000
		box-shadow 0px 4rpx 14rpx 0px rgba(255, 206, 201, 1)
