@import '../../static/css/common.styl'

.product
	height 100vh
	background #F6F6F6
	overflow-x: hidden
.product-index
	background-color $color-bg
	width 750rpx
	height: 100%
	_flex-start-column()
	align-items center
.product-index-swiper
	width 100%
	padding 30rpx
	background-color #fff
	_flex-center()
.tab-item
	background-color $color-bg
	width 100%
	padding-top 20rpx
	padding-bottom 0rpx
	// height 100rpx
	_flex-start-column()
	align-items center
.van-tabs
	background-color $color-bg
.van-tabs__line
	background-color transparent !important
	width 20rpx !important
	height 15rpx !important
	border-width 8rpx
	border-radius 50% !important
	border-style solid !important
	border-color transparent transparent rgba(71, 156, 254, 1) transparent !important
.van-ellipsis
	color $color-gray-1
	font-size 30rpx
.van-tabs__content
	margin-top 12rpx
.van-tab--active .van-ellipsis
	color $color-normal-black !important
	font-size 36rpx !important
	font-weight 700 !important
.index-tabs
	width 750rpx