@import '../../static/css/common.styl';



.qrcode {
	position: absolute;
	right: 30rpx;
	bottom: 10rpx;
	width: 100rpx;
	height: 100rpx;
	border-radius: 50%
}

 .wx-swiper-dot{
    width 12rpx !important;
	height: 12rpx !important

}