@import '../../static/css/common.styl'

.service
	width 750rpx
	height 100%
	background #F6F6F6
	_flex-center-column()
	.service-container
		width 580rpx
		height 780rpx
		background #FFFFFF
		border-radius 12rpx
		_box-sizing(38rpx, 35rpx)
		_flex-center-column()
		.service-container-top
			width 100%
			display flex
			>image
				width 112rpx
				height 112rpx
				background #EAEAEA
				border-radius 12rpx
			>view
				>view:first-child
					font-size 32rpx
					font-weight 500
					color #1A1A1A
				>view:last-child
					font-size 20rpx
					font-weight 400
					color #999999
		.qr-code
			margin-top 24rpx
			width 442rpx
			height 448rpx
			background-color pink
		.service-content-1
			margin-top 39rpx
			font-size 34rpx
			font-weight 500
			color #1A1A1A
		.service-content-2
			margin-top 17rpx
			font-size 20rpx
			font-weight 500
			color #999999
.service-btn
	position: fixed
	bottom: 45rpx
	margin-top 17rpx
	_flex-center-column()

	>image
		width 44rpx
		height 44rpx
		background-color pink
	>view
		font-size 28rpx
		font-weight 400
		color #1A1A1A
.service-content-3
	font-size 24rpx
	font-weight 400
	color #999999